*{
    padding : 0;
    margin : 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.fullPage{
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction: column;
}
header{
    display : flex;
    align-items: center;
    justify-content: space-around;
}
.menu{
    padding : 1em;
}
.menu a{
    text-decoration: none;
    margin-right : 2em;
    margin-left : 2em;
    color : black;
}
.icon{
    border-right : 2px solid lightgrey;
    padding-right : 2em;
    margin-left : 5em;
}
.button{
    padding-right : 5em;
    margin : 1em;
    border-left : 2px solid lightgrey;
}
.button img{
    margin : 0.5em;
    margin-left : 2em;
}
.sec-1{
    background-color : rgb(252,239,220);
    width : 100%;
    padding : 3em 0em 3em 0em;
    display : flex;
    justify-content: space-evenly;
}
.petfood{
    width : 55%;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.petfood h1{
    font-size : 5em;
    margin-top : 0.5em;
    font-weight: 600;
    margin-right : 1em;
}
.petfood h2{
    margin-top : 2em;
    margin-right : 3em;
    font-weight: lighter;
    color : grey;
}
.petfood button{
    font-size : 1.5em;
    font-weight: lighter;
    padding : 1em;
    width : 9em;
    margin-top : 2em;
    border : none;
    border-radius : 70px;
    background-color : black;
    color : white;
}
.petfood-img{
    display : flex;
    align-items: center;
    justify-content: center;
}
.petfood-img img{
    margin-right : 2em;
}

.pettop{
    display : flex;
    flex-direction: column;
    margin-left : 7em;
    margin-top : 3em;
}
.sec-2{
    width : 100%;
    display : flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.sec-2 h2{
    font-size : 2em;
    font-weight: lighter;
    text-align: center;
    margin-top : 2em;
}
.sec-2 img{
   margin-top : 3em;
}
.sec-2-brand{
    display : flex;
    align-items: center;
    justify-content: center;
    width : 100%;
}
.sec-2-page{
    width : 100%;
    display : flex;
    justify-content: space-evenly;
}
.sec-2-desc h1{
    font-size : 4em;
    font-weight: bolder;
}
.sec-2-desc {
    margin-top : 7em;
    margin-left : 10em;
}
.sec-2-desc p{
    font-size : 1.5em;
    color : grey;
}
.sec-2-desc button{
    font-size : 1.5em;
    font-weight: lighter;
    padding : 1em;
    width : 9em;
    margin-left : 0em;
    margin-top : 2em;
    border : none;
    border-radius : 70px;
    background-color : black;
    color : white;
}
.sec-2-img{
    margin-right : 2em;
}
.steps{
    margin-top : 3em;
    display : flex;
    justify-content: space-evenly;
    margin-left : 10em;
    margin-right : 10em;
}
.step{
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width : 100%;
    margin : 1em;
}
.step h1{
    font-size : 2em;
    font-weight: lighter;
    border : 1px solid rgb(238, 238, 238);
    border-radius : 50%;
    color : rgb(59,99,78);
    width : 1.5em;
    height : 1.5em;
    display : flex;
    align-items: center;
    justify-content: center;
}
.step h2{
    display : flex;
    font-size : 1.7em;
    font-weight: 600;
    
}
.step p{
    text-align: center;
    margin-top : 1em;
    font-size : 1.4em;
 
    color : grey;
    
}

.textsellers{
    text-align: center;
    font-size : 2.5em;
    margin : 2em;
    margin-top : 3em;
}
.textsellers h3{
    font-size : 0.6em;
    color : grey;
    font-weight: lighter;
    margin : 1em;
}
.topSellers{
    display : flex;
    justify-content: space-evenly;

}
.topSeller{
    background-color : lightgreen;
    text-align: center;
    padding : 1em;
    width : 20%;
    height : 35em;
    border-radius : 10px;
}
.topSeller h2{
    margin-top : 0.5em;
    margin-right : 1em;
    margin-left : 1em;
    margin-bottom : 1.5em;
}
.topSeller a{
    text-decoration: none;
    padding : 1em 3em 1em 3em;
    background-color : white;
    color : black;
    font-weight: bolder;
}
.topSeller img{
    margin-top : 3em;
    width : 150px;
    margin-bottom : 3em;
}
.topSeller h3{
    font-weight: lighter;
    color : rgb(70, 70, 70);
}
.advantages{
    display : flex;
    justify-content: space-evenly;
    margin : 3em;
}
.advantage{
    width : 20%;
    background-color : rgb(230,241,248);
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius : 20px;
}
.advantage h2{
    text-align: center;
}
.advantage p{
    display : flex;
    align-items: center;
    justify-content: center;
    margin : 1em;
    margin-right : 3em;
    margin-left : 3em;
    text-align: center;
    margin-bottom : 5em;
}
.advantage img{
    margin-top : 3em;
    margin-bottom : 3em;
    border-radius : 20px;
    box-shadow : 2px 2px 4px rgb(190, 190, 190);
}
.faq{
    margin-top : 4em;
    background-color : rgb(246,233,216);
    display : flex;
    flex-direction: column;
    align-items: center;
    padding : 8em;
}
.faq h2{
    text-align: center;
    font-size : 5em;
}
.faq p{
    font-size : 1.7em;
    text-align: center;
    margin-top : 1em;
    color : grey;
}
.questions{
    display : flex;
    flex-direction: column;
    width : 80%;
    margin-top : 4em;
}
.question h3{
    font-size : 2em;
    margin-top : 1.5em;
    font-weight: lighter;
}
.question h4{
    font-size : 1.3em;
    font-weight: lighter;
    color : grey;
    margin-top : 1em;
}
.question hr{

    margin-top : 4em;
}
.q{
    display : flex;
    justify-content: space-between;
}

@media (max-width : 1075px){
    header{
        justify-content: space-between;
    }
    header .button{
        border : none;
        padding : 0;
    }
    header .icon{
        border : none;
        padding : 0;
    }
    .menu a{
        display : none;
    }
    .sec-1{
        padding : 0;
    }
    .sec-1 button{
        text-align: center;
    }
    .menu button{
        visibility: visible;
        border : 1px solid black;
    }
}

@media (max-width : 1010px){
    .sec-2-brand{
        display : none;
    }
    .sec-2-page{
        flex-direction:column-reverse;
    }
    .sec-2-img{
        text-align: center;
    }
    .sec-2-desc{
        text-align: center;
        margin : 0;
        margin-top : 2em;
    }
    .sec-2-desc button{
        text-align: center;
    }
    .steps{
        flex-direction: column;
    }
    .petfood-img{
        display : none;
    }
    .pettop{
        display : flex;
        align-items: center;
        justify-content: center;
        margin : 0;
        padding : 0;
    }
    .pettop h2{
        display : flex;
        align-items: center;
        justify-content: center;
        margin : 0;
        text-align: center;
    }
    .pettop h1{
        margin : 1em 0em 0.5em 0em;
        padding : 0;
        text-align: center;
    }
    .pettop button{
        display : flex;
        align-items: center;
        justify-content: center;
        margin-bottom : 2em;
    }
    header{
        justify-content: space-between;
    }
    header .button{
        border : none;
        padding : 0;
    }
    header .icon{
        border : none;
        padding : 0;
    }
    .menu a{
        display : none;
    }
    .sec-1{
        padding : 0;
    }
    .sec-1 button{
        text-align: center;
    }
    .advantages{
        flex-direction : column;
    }
    .advantage{
    padding : 1em;
    margin : unset;
    padding : unset;
    width : 80%;
    margin-left : 2em;
    margin-bottom : 1em;
    }
    .advantage h2{
        margin : 1em;
        font-size : 1em;
    }
    .advantage p{
        display : none
    }
    .topSellers{
        flex-direction : column;
        align-items : center;
    }
    .topSeller{
        margin-bottom : 2em;
        height : 30em;
        width : 40%;
    }
    @media (max-width : 540px){
    
        .pettop h2{
            margin-top : 1em;
            font-size : 1.2em;
        }
        .textsellers h2{
            font-size : 1em;
        }
        .topSeller{
            height : 400px;
            width : 70%;
        }
        .topSeller img{
            width : 75px;
            margin : unset;
            margin-top : 2em;
            margin-bottom : 1em;
        }
        header{
            padding : unset;
            justify-content : center;
            margin-right : 4em;
        }
        .steps{
            margin : unset;
            margin-right : 1em;
            margin-left : 1em;
        }
        .step{
            margin : unset;
            margin-top : 3em;
        }
        .sec-1{
            margin : unset;
        }
        .pettop h1{
            font-size : 2em;
        }
        .button{
            display : none;
        }
        .sec-2-img img{
            width : 300px;
        }
        .sec-2-desc h1{
            font-size: 2em;
        }
        .faq{
            padding : unset;
            padding-top : 2em;
            padding-bottom : 2em;
        }
        .faq h2{
            font-size : 2em;
            
        }
    }
}
